<!doctype html>
<html lang="en" data-framework="angularjs">
<head>
    <meta charset="utf-8">
    <title>AngularJS • TodoMVC</title>
    <link href="common/base.css" rel="stylesheet" />
    <style>
        [ng-cloak] {
            display: none;
        }
    </style>
</head>
<body ng-app="todomvc">
    <ng-view />

    <script type="text/ng-template" id="todomvc-index.html">
        <section id="todoapp">
            <header id="header">
                <h1>todos</h1>
                <form id="todo-form" ng-submit="todoCtrl.addTodo()">
                    <input id="new-todo" placeholder="What needs to be done?" ng-model="todoCtrl.newTodo" autofocus>
                </form>
            </header>
            <section id="main" ng-show="todoCtrl.todos.length" ng-cloak>
                <input id="toggle-all" type="checkbox" ng-model="todoCtrl.allChecked" ng-click="todoCtrl.markAll(todoCtrl.allChecked)">
                <label for="toggle-all">Mark all as complete</label>
                <ul id="todo-list">
                    <li ng-repeat="todo in todoCtrl.todos | filter:todoCtrl.statusFilter track by $index" ng-class="{completed: todo.completed, editing: todo == todoCtrl.editedTodo}">
                        <div class="view">
                            <input class="toggle" type="checkbox" ng-model="todo.completed" ng-click="todoCtrl.markAsCompleted(todo)">
                            <label ng-dblclick="todoCtrl.editTodo(todo)">{{todo.title}}</label>
                            <button class="destroy" ng-click="todoCtrl.removeTodo(todo)"></button>
                        </div>
                        <form ng-submit="todoCtrl.doneEditing(todo)">
                            <input class="edit" ng-trim="false" ng-model="todo.title" todo-escape="todoCtrl.revertEditing(todo)" ng-blur="todoCtrl.doneEditing(todo)" todo-focus="todo == todoCtrl.editedTodo">
                        </form>
                    </li>
                </ul>
            </section>
            <footer id="footer" ng-show="todoCtrl.todos.length" ng-cloak>
                <span id="todo-count">
                    <strong>{{todoCtrl.remainingCount}}</strong>
                    <ng-pluralize count="todoCtrl.remainingCount" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
                </span>
                <ul id="filters">
                    <li>
                        <a ng-class="{selected: status == ''} " href="#/">All</a>
                    </li>
                    <li>
                        <a ng-class="{selected: status == 'active'}" href="#/active">Active</a>
                    </li>
                    <li>
                        <a ng-class="{selected: status == 'completed'}" href="#/completed">Completed</a>
                    </li>
                </ul>
                <button id="clear-completed" ng-click="todoCtrl.clearCompletedTodos()" ng-show="todoCtrl.completedCount">Clear completed ({{todoCtrl.completedCount}})</button>
            </footer>
        </section>
        <footer id="info">
            <p>Double-click to edit a todo</p>
            <p>
                Credits:
                <a href="http://twitter.com/cburgdorf">Christoph Burgdorf</a>,
                <a href="http://ericbidelman.com">Eric Bidelman</a>,
                <a href="http://jacobmumm.com">Jacob Mumm</a> and
                <a href="http://igorminar.com">Igor Minar</a>
            </p>
            <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
        </footer>
    </script>
    <script src="common/base.js"></script>
    <script src="scripts/angular.js"></script>
    <script src="scripts/angular-route.js"></script>
    <script src="controllers/todoCrtl.js"></script>
    <script src="services/todoStorage.js"></script>
    <script src="directives/todoFocus.js"></script>
    <script src="directives/todoEscape.js"></script>
    <script src="todoMvc.js"></script>
</body>
</html>
